/* estos estilos pertenecen al header*/

.btn-buy {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #3d85c6;
    cursor: pointer;
    border-radius: 99px;
}

.btn-buy:hover {
    letter-spacing: .2rem;
    background-color: #306a9e;
}

.btn-pay {
    margin-top: 2rem;
    display: inline-block;
    padding: .9rem 7rem;
    font-size: 1.7rem;
    color: #fff;
    background: #35c100;
    cursor: pointer;
    border-radius: 99px;
}

.btn-pay:hover {
    letter-spacing: .2rem;
    background: #2a9a00;
}

.header {
    background-color: #bc9ad4;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header .logo img {
    height: 8rem;
    border-radius: 100%;
}


.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: var(--black);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scale(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scale(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #f3f6f4;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    box-shadow:5px 10px 18px #888888;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--black);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}



