

.news .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.news .box-container .box{
    
    box-shadow:5px 10px 18px #888888;
}

.news .box-container .box .image{
    height:25rem;
    overflow:hidden;
    width: 100%;
}

.news .box-container .box .image img{
    height:100%;
    object-fit: cover;
    width: 100%;
}

.news .box-container .box:hover .image img{
    transform: scale(1.2);
}

.news .box-container .box .content{
    padding: 2rem;
}

.news .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    
}

.news .box-container .box .content .title:hover{
    color: var(--main-color);
}

.news .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.news .box-container .box .content p{
    font-size: 1.9rem;
    line-height: 1.8;
    padding: 1rem 0;
    text-align: justify;
}
