/*css correspondiente a menu*/

.products_offers .box-container a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    /*border: var(--border);*/
    color: var(--black);
    background-color: #fff;
    margin:.3rem;
}

.products_offers .box-container a:hover {
    letter-spacing: .2rem;
    background-color: #866e50;
}


.products_offers .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    background-color: var(--black);
}

.products_offers .box-container .box{
    padding: 5rem;
    text-align: center;
    border: 0.3rem solid rgba(255,255,255, .1);
    margin: 2rem 2rem 2rem 2rem;

}

.products_offers .box-container .box img{
    height: 10rem;
}

.products_offers .box-container .box h3{
    color: #eee;
    font-size: 2rem;
    padding: 1rem 0;
}

.products_offers .box-container .box .price{
    color: #eee;
    font-size: 2.5rem;
    padding: .5rem 0;
    margin-bottom: 2rem;
}

.products_offers .box-container .box .price span{
    
    font-size: 1.5rem;
    text-decoration:line-through;
    font-weight: lighter;
}

.products_offers .box-container .box:hover{
    background: #eee;
    
}

.products_offers .box-container .box:hover > *{
    color: var(--black);
}

