/*Este css pertenece a los comentarios de los clientes*/

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding:3rem 2rem;
    box-shadow:5px 10px 18px #888888;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--black);
    padding: 2rem 0;
    text-align: justify;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}

.review .box-container .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}